body {
  background: #333;
}

#text {
  color: #fff;
}

#lottie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff9;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#overlay .play {
  padding: 7em;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 50;
}

#container > div {
  width: 100%;
}

#container p {
  padding: 0 0.5em;
  font-weight: bold;
  text-align: center;
}

#lyrics {
  font-size: 6em;
  color: #fff;
}

#media {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #fff3;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
}

#meta {
  margin: 10px;
  padding: 5px;
  background: #fff3;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

#footer > p {
  margin-left: 10px;
}

#control {
  margin: 10px;
  padding: 5px;
  background: #fff3;
}

#control > button {
  margin-right: 5px;
}
#control > button:last-child {
  margin-right: 0;
}
